.form-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0.5rem 1rem 1rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.form-check-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eee !important;
}

/* On mouse-over, add a grey background color */
.form-check:hover input ~ .form-check-label {
  background-color: #ccc !important;
}

/* When the checkbox is checked, add a blue background */
.form-check input:checked ~ .form-check-label {
  background-color: gray !important;
}

/* Create the form-check-label/indicator (hidden when not checked) */
.form-check-label:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the form-check-label when checked */
.form-check input:checked ~ .form-check-label:after {
  display: block;
}

/* Style the form-check-label/indicator */
.form-check .form-check-label:after {
  left: -17px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid red;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
